.App {
  text-align: center;
  margin: 0 auto;
  max-width: 900px;
  border: 2px solid black;
  border-radius: 10px;
  background: #E5E2DF;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}
.Header {
  color: #3D75AB;
  text-shadow: 1px 1px 5px #fff;
}
/* write your parent styles in here for your App.js */
